<html>
<head>
	<title>{{.Board.Team}} / {{.Board.Name}}</title>
	<meta name="robots" content="noindex,nofollow">
	<link rel="stylesheet" href="/static/styles.css" />
</head>
<body>

<h1><span>{{.Board.Team}} /</span> {{.Board.Name}}</h1>

{{ if .Board.Records }}
	{{ if .Board.Desc }}
		<p contenteditable="true" id="board-desc">{{.Board.Desc}}</p>
	{{ else }}
		<p contenteditable="true" id="board-desc">Click to enter a spiffy proclamation for this board.</p>
	{{ end }}
{{ end }}

{{ range $index, $element := takeTop .Board.Records 3 }}
	<div class="record badged">
		<img src="{{.GetAvatarUrl}}" class="avatar" />
		<div class="who">{{.Who}}</div>
		<div class="when">{{formatTime .When "Jan 2, 2006"}}</div>
		<div class="score">{{.Score}}</div>
		<div class="badge-{{$index}}"></div>
	</div>

{{ else }}
	<p><b>You're the first!</b>
		<br/>This board hasn't been started yet.
		You're record will be the first!</p>
{{ end }}

<div class="new-record">
	<form action="/{{.Board.Team}}/{{.Board.Name}}" method="POST">
		<input type="text" name="who" placeholder="Name" value="{{.Who}}" required />
		<input type="email" name="email" placeholder="Email" value="{{.Email}}" />
		<input type="number" name="score" placeholder="Score" min="0" max="9999" required />
		<input type="submit" value="Post" />
	</form>
</div>

{{ range skipTop .Board.Records 3 }}
	<div class="record">
		<img src="{{.GetAvatarUrl}}" class="avatar" />
		<div class="who">{{.Who}}</div>
		<div class="when">{{formatTime .When "Jan 2, 2006"}}</div>
		<div class="score">{{.Score}}</div>
	</div>
{{ end }}

<ul id="team-boards">
	<li class="team-name">{{ .Board.Team }}</li>
	{{ range .TeamBoards }}
		{{ if equals . $.Board.Name }}
			<li class="current">{{.}}</li>
		{{ else }}
			<li><a href="/{{$.Board.Team}}/{{.}}">{{.}}</a></li>
		{{ end }}
	{{ end }}
</ul>

<footer>
	{{ if .Board.Records }}
		<p><i>This board has been updated {{.Board.ActivityCount}} times.</i></p>
	{{ end }}
</footer>

<script src="/static/jquery.min.js"></script>
<script src="/static/scripts.js"></script>

</body>
</html>