<html>
<head>
	<title>Scoreboards</title>
	<link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
	<h1>Scoreboards</h1>
	<p>Track personal records between you and your friends.</p>
	<p>
		<input type="text" name="team" placeholder="Team" required />
		<input type="text" name="board" placeholder="Board" required />
	</p>
	<p>Visit your board at <code>http://scores.zduck.com/{team}/{board}</code></p>

	<script src="/static/jquery.min.js"></script>
	<script src="/static/home.js"></script>
</body>
</html>